{% extends "layout.html" %}

{% block title %}
    Excel to html!
{% endblock %}

{% block main %}
<body style="background-color:#fff0f0">
    <form action="/to_html" method="post" enctype="multipart/form-data">
        <b>Upload the excel file</b>
        <div>
            <input type="file" id="file" name="excel_file" value="excel_file">
        </div>
        <br />
        <button class="btn btn-primary" type="submit">to html! </button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <form action="/change" method="post" enctype="multipart/form-data">
            <div>
                <button class="btn btn-primary" type="submit" name="example" value="example">Example excel file </button>
            </div>
    </form>
</body>
{% endblock %}